kind: Button
apiVersion: widgets.templates.krateo.io/v1beta1
metadata:
  name: {{ .Release.Name }}-composition-panel-button
  namespace: {{ .Release.Namespace }}
spec:
  widgetData:
    icon: fa-trash
    type: default
    shape: circle
    clickActionId: delete
  actions:
    rest:
      - id: delete
        resourceRefId: delete
        type: rest
  resourcesRefs:
    - id: delete
      apiVersion: {{ .Values.global.compositionGroup }}/{{ .Values.global.compositionInstalledVersion }}
      resource: {{ .Values.global.compositionResource }}
      name: {{ .Release.Name }}
      namespace: {{ .Release.Namespace }}
      verb: DELETE