kind: EventList
apiVersion: widgets.templates.krateo.io/v1beta1
metadata:
  name: {{ .Release.Name }}-composition-events-panel-eventlist
  namespace: {{ .Release.Namespace }}
spec:
  widgetData:
    events: []
    sseEndpoint: "/notifications/"
    sseTopic: "{{ .Values.global.compositionId }}"
  widgetDataTemplate:
    - forPath: events
      expression: ${ .list }
  apiRef:
    name: {{ .Release.Name }}-composition-events
    namespace: {{ .Release.Namespace }}