kind: Panel
apiVersion: widgets.templates.krateo.io/v1beta1
metadata:
  name: {{ .Release.Name }}-composition-panel
  namespace: {{ .Release.Namespace }}
  labels:
    krateo.io/portal-page: compositions
spec:
  apiRef:
    name: {{ .Release.Name }}-composition-finops
    namespace: azure-pricing-system
  widgetData:
    clickActionId: composition-click-action
    footer:
      - resourceRefId: composition-panel-button
    tags: 
      - {{ .Release.Namespace }}
      - {{ .Values.global.compositionGroup }}
      - {{ .Values.global.compositionInstalledVersion }}
      - {{ .Values.global.compositionKind }}
      - {{ .Values.global.compositionResource }}
    icon:
      name: fa-hand-holding-dollar
      color: green
    items:
      - resourceRefId: composition-panel-paragraph
    title: {{ .Release.Name }}
  widgetDataTemplate:
    - forPath: icon.color
      expression: ${ .getComposition.status.conditions[] | select(.type == "Ready") | if .status == "False" then "orange" elif .status == "True" then "green" else "grey" end }
    - forPath: headerLeft
      expression: ${ .getComposition.status.conditions[] | select(.type == "Ready") | if .status == "False" then "Ready:False" elif .status == "True" then "Ready:True" end }
    - forPath: headerRight
      expression: ${ .getComposition.metadata.creationTimestamp }
    actions:
      navigate:
        - id: composition-click-action
          name: composition-click-action
          resourceRefId: composition-tablist
          type: navigate
  resourcesRefs:
    - id: composition-panel-paragraph
      apiVersion: widgets.templates.krateo.io/v1beta1
      name: {{ .Release.Name }}-composition-panel-paragraph
      namespace: {{ .Release.Namespace }}
      resource: paragraphs
      verb: GET
    - id: composition-panel-button
      apiVersion: widgets.templates.krateo.io/v1beta1
      name: {{ .Release.Name }}-composition-panel-button
      namespace: {{ .Release.Namespace }}
      resource: buttons
      verb: GET
    - id: composition-tablist
      apiVersion: widgets.templates.krateo.io/v1beta1
      name: {{ .Release.Name }}-composition-tablist
      namespace: {{ .Release.Namespace }}
      resource: tablists
      verb: GET