kind: Panel
apiVersion: widgets.templates.krateo.io/v1beta1
metadata:
  name: {{ .Release.Name }}-composition-finops-panel
  namespace: {{ .Release.Namespace }}
spec: 
  widgetData:
    items:
      - resourceRefId: row-1
      - resourceRefId: row-2
      - resourceRefId: row-3
      - resourceRefId: row-4
  resourcesRefs:
    - id: row-1
      apiVersion: widgets.templates.krateo.io/v1beta1
      name: {{ .Release.Name }}-composition-finops-panel-row-1
      namespace: {{ .Release.Namespace }}
      resource: rows
      verb: GET
    - id: row-2
      apiVersion: widgets.templates.krateo.io/v1beta1
      name: {{ .Release.Name }}-composition-finops-panel-row-2
      namespace: {{ .Release.Namespace }}
      resource: rows
      verb: GET
    - id: row-3
      apiVersion: widgets.templates.krateo.io/v1beta1
      name: {{ .Release.Name }}-composition-finops-panel-row-3
      namespace: {{ .Release.Namespace }}
      resource: rows
      verb: GET
    - id: row-4
      apiVersion: widgets.templates.krateo.io/v1beta1
      name: {{ .Release.Name }}-composition-finops-panel-row-4
      namespace: {{ .Release.Namespace }}
      resource: paragraphs
      verb: GET