kind: Panel
apiVersion: widgets.templates.krateo.io/v1beta1
metadata:
  name: {{ .Release.Name }}-composition-values-panel
  namespace: {{ .Release.Namespace }}
spec: 
  widgetData:
    items:
      - resourceRefId: composition-values-panel-yamlviewer
  resourcesRefs:
    - id: composition-values-panel-yamlviewer
      apiVersion: widgets.templates.krateo.io/v1beta1
      name: {{ .Release.Name }}-composition-values-panel-yamlviewer
      namespace: {{ .Release.Namespace }}
      resource: yamlviewers
      verb: GET